
@{
    ViewData["Title"] = "CariIslemYok";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<style>
    .error-message {
        color: red;
        font-size: 24px;
        font-weight: bold;
        text-align: center;
        margin-top: 40px;
    }
</style>

<h1 class="error-message">Cari İşlem Bulunamadı !</h1>
<p class="error-message">Seçtiğiniz cariye ait herhangi bir hisse bulunmamaktadır. </p>
<p class="error-message">İşlem yapabilmek için lütfen ilgili müşteriye, hisse ekleyin. </p>

