@{
	ViewData["Title"] = "CariIslemGuncelle";
	Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row">
	<div class="col-xl">
		<div class="card mb-4">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">Müşteri Güncelle</h5>
				<small class="text-muted float-end">Cari Detayları</small>
			</div>
			<div class="card-body">
				<form method="post" asp-controller="Cari" asp-action="CariIslemGuncelle">
					<div class="mb-3">
						<label class="form-label" for="basic-default-fullname">Açıklama</label>
						<input value="@Model.Aciklama" name="Aciklama" type="text" class="form-control" id="Aciklama" required />
					</div>
					<div class="mb-3">
						<label class="form-label" for="basic-default-phone">Borç</label>
						<input value="@Model.Borc.ToString("0.##")" type="text" id="Borc" class="form-control" name="Borc" required />
					</div>
					<div class="mb-3">
						<label class="form-label" for="basic-default-fullname">Alacak</label>
						<input value="@Model.Alacak.ToString("0.##")" name="Alacak" type="text" class="form-control" id="basic-default-fullname" required />
					</div>
					<div class="mb-3 row">
						<label for="nameBasic" class="form-label">Tarih</label>
						<div class="col mb-3">
							<input value="@DateTime.Now.ToString("yyyy-MM-ddTHH:mm")" name="Tarih" class="form-control" type="datetime-local" />
						</div>
					</div>
					<button type="submit" class="btn btn-primary">Güncelle</button>
				</form>
			</div>
		</div>
	</div>
</div>

