@{
	ViewData["Title"] = "CariEkle";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row">
	<div class="col-xl">
		<div class="card mb-4">
			<div class="card-header d-flex justify-content-between align-items-center">
				<h5 class="mb-0">Müşteri Ekle</h5>
				<small class="text-muted float-end">Müşteri Bilgileriniz Giriniz</small>
			</div>
			<div class="card-body">
				<form method="post" asp-action="CariEkle">
					<div class="mb-3">
						<label class="form-label" for="basic-default-fullname">Ad Soyad</label>
						<input name="AdSoyad" type="text" class="form-control" id="basic-default-fullname" required />
					</div>
					<div class="mb-3">
						<label class="form-label" for="basic-default-phone">Telefon No</label>
						<input type="number" id="basic-default-phone" class="form-control phone-mask" name="Telefon" required />
					</div>
					<div class="mb-3">
						<label class="form-label" for="basic-default-fullname">Referans</label>
						<input name="Referans" type="text" class="form-control" id="basic-default-fullname" required />
					</div>
					<div class="mb-3">
						<label class="form-label" for="basic-default-fullname">Ülke</label>
						<input name="Ulke" type="text" class="form-control" id="basic-default-fullname" required />
					</div>
					<div class="mb-3">
						<label class="form-label" for="basic-default-company">Şehir</label>
						<input name="Il" type="text" class="form-control" id="basic-default-company" required />
					</div>
					<div class="mb-3">
						<label class="form-label" for="basic-default-company">İlçe</label>
						<input name="Ilce" type="text" class="form-control" id="basic-default-company" required />
					</div>
					<div class="mb-3">
						<label class="form-label" for="basic-default-message">Açıklama</label>
						<textarea id="basic-default-message"class="form-control"placeholder=""name="Aciklama"></textarea>
					</div>
					<input type="hidden" name="Tarih" value="@DateTime.Now.ToShortDateString()" />
					<button type="submit" class="btn btn-primary">Kaydet</button>
				</form>
			</div>
		</div>
	</div>
</div>

