
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-4 mb-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-column">
                <div class="card-title">
                    <h5 class="text-nowrap mb-2">Toplam Kazanç</h5>
                </div>
                <div class="mt-auto">
                    <h3 class="mb-0 text-success">152.565 TL</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-4 mb-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-column">
                <div class="card-title">
                    <h5 class="text-nowrap mb-2">Toplam Alacak</h5>
                </div>
                <div class="mt-auto">
                    <h3 class="mb-0 text-danger">84.535 TL</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-4 mb-4">
    <div class="card">
        <div class="card-body">
            <div class="d-flex flex-column">
                <div class="card-title">
                    <h5 class="text-nowrap mb-2">Toplam Borç</h5>
                </div>
                <div class="mt-auto">
                    <h3 class="mb-0 text-warning">18.523 TL</h3>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="card">
    <h5 class="card-header">Bordered Table</h5>
    <div class="card-body">
        <div class="table-responsive text-nowrap">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>ID</th>
                        <th>Cari İşlem ID</th>
                        <th>Tarih</th>
                        <th>Borç</th>
                        <th>Alacak</th>
                        <th>Tutar</th>
                        <th>Açıklama</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>1</td>
                        <td>2</td>
                        <td>24.05.2023</td>
                        <td><span class="badge bg-label-success me-1">2500</span></td>
                        <td><span class="badge bg-label-danger me-1">0</span></td>
                        <td>2500</td>
                        <td>Açıklama</td>
                    </tr>
           
                  
                </tbody>
            </table>
        </div>
    </div>
</div>

