@{
    ViewData["Title"] = "Home Page";
}

<div class="row">
    <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Kurbanlık Sayısı</span>
                <h3 class="card-title mb-2">@ViewBag.stok</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Cari Sayısı</span>
                <h3 class="card-title mb-2">@ViewBag.cari</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Boşta Kalan Hisse</span>
                <h3 class="card-title mb-2">35</h3>
            </div>
        </div>
    </div>
</div>


<div class="row">
    <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Profit</span>
                <h3 class="card-title mb-2">$12,628</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Profit</span>
                <h3 class="card-title mb-2">$12,628</h3>
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-12 mb-4">
        <div class="card">
            <div class="card-body">
                <span class="fw-semibold d-block mb-1">Profit</span>
                <h3 class="card-title mb-2">$12,628</h3>
            </div>
        </div>
    </div>
</div>
